body {
	background: #f4c88a;
}
h1 {
	margin-left: 13px;
	color: #75490b;
}
h1, h2 {
	font-family: Arial black, sans-serif
} 
.benefits {
	background-image: url("cycling_tile03.jpg");
	background-position: right;
}
.purpose {
	margin-top: 5px;
	margin-bottom: 50px;
	margin-left: 13px;
	font-family: Avenir, sans-serif;
	color: #462c07;
}
section {
	font-family: Avenir, sans-serif;
	padding-left: 15px;
	padding-bottom: 1px;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
	margin-top: 10px;
	color: #462c07;
	#width: 690px;
}
#usa {
	font-weight: bold;
}
a:link {
	color: purple;
}
a:visited {
	color: blue;
}
footer {
	text-align: center;
	color: white;
	text-shadow: black 1px 1px;
}
